body{
    /*background:url("bakgrund.jpg"); */
    background:rgb(242, 252, 253);
    background-size: auto;
    margin:0; 
    width:100%;
    max-height:600px;
  
}
.navbar{
    max-width:100%;
    background:rgb(224, 243, 248);  
}
article{
    width:90%;
    background:url("background1-min.jpg"); 
    box-shadow:5px 10px #888888;
    color:rgb(10, 10, 10); 
    padding:20px;
    margin-top:15px;
}    
.bild{   
    margin-top:75px;
} 
.kontakt{
    margin-top:5px; 
}
img{  
    padding-top:10px ;
    box-shadow:5px 10px #888888;
}
footer{ 
    background:rgb(224, 243, 248);
    height:110px;
    width: auto;    
}
h6{
    margin-top:20px; 
}
h5{
    margin-bottom:20px;
}
a{
    color:rgb(0, 0, 0);   
}
@media only screen and (max-width:465px )  {
    body {           
       margin:0;
       max-width:450px;      
       height:500px;                    
    }
    .navbar{
        background-color: blueviolet;
        margin:0;      
        width:500px;
        height:auto;
    }
    article{
       margin:0;
    }
    footer{
       width:500px;
       height: auto;
    }
}