body{
    background:url("bakgrund.jpg");
    margin:0; 
    width:auto;
    height:auto; 
}
.navbar{
 max-width:100%;   
}
article{
    width:80%;
    background: rgba(255, 250, 245, 0.288);
    box-shadow:5px 10px #888888;
    color:rgb(10, 10, 10); 
    padding:20px;
    margin-top:10px;
}    
.bild{   
    margin-top:100px;
} 
.kontakt{
    margin-top:5px; 
}
img{  
    padding-top:10px ;
    box-shadow:5px 10px #888888;
}
footer{ 
    background:rgb(211, 211, 211);
    max-height:auto;
    max-width: auto;    
}
h6{
    margin-top:20px; 
}
a{
    color:rgb(0, 0, 0);   
}
@media  (max-width:400px) {
    body {       
       margin:0;
       max-width:auto;
       max-height:600px;     
    }
    .navbar{
        width:100%;
    }
}