body{
    margin:0;
    background:url("bakgrund.jpg");
    background-size:cover;
    max-height:100%;
    max-width:100%;
}
article{
    max-width:80%;
    background: rgba(255, 250, 245, 0.288);
    box-shadow:5px 10px #888888;
    color:rgb(10, 10, 10); 
    padding:20px;
    margin-top:10px;
}    
.bild{   
    margin-top:100px;
} 
.kontakt{
    margin-top:5px; 
}
img{  
    padding-top:10px ;
    box-shadow:5px 10px #888888;
}
footer{ 
    background:rgb(211, 211, 211);
    max-height:auto;    
}
h6{
margin-top:20px; 
}
a{
    color:rgb(0, 0, 0);
   
}